<%= form_tag seven_gallery.update_photos_info_gallery_photos_path(@gallery) do %>
    <% @photos.each do |photo| %>
        <div id="photo_<%= photo.id %>" class="photo_form row image_wrapper">

              <%= render "image_wrapper", photo: photo %>
            <div class="col-md-6">
              <%= fields_for "photos[]", photo do |f| %>
                  <% photo.errors.full_messages.each do |msg| %>
                      <p><%= msg %></p>
                  <% end %>
                  <%= render "fields", f: f %>
              <% end %>
            </div>
        </div>
        <hr/>
    <% end %>
    <%= submit_tag "Save" %>
<% end %>