<div class="row">
  <h3>Photos: (Drag & Drop to rearrange) </h3>

  <div class="photos_wrapper" data-url="<%= url_for arrange_photos_gallery_path @gallery %>">
    <p class="arrange_status">Saving..</p>
    <% @gallery.photos.each do |photo| %>
        <div id="photo_<%= photo.id %>">
          <%= photo.caption %> - <%= image_tag photo.image_url(:thumb) %>
          <%= link_to 'edit', seven_gallery.edit_gallery_photo_path(@gallery, photo) %> -
          <%= link_to 'delete', seven_gallery.gallery_photo_path(@gallery, photo), method: :delete, data: {confirm: 'Sure?'} %>
        </div>
    <% end %>
  </div>
</div>

<%= link_to "Back", seven_gallery.gallery_path(@gallery) %>