<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>


<%= render "seven_gallery/photos/photo_wrapper" %>

<%= render "seven_gallery/photos/photo", photos: @gallery.photos %>
