<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>
<%= link_to 'Edit', seven_gallery.edit_gallery_path(@gallery) %> |
<%= link_to 'Back', seven_gallery.galleries_path %>

<%= render "seven_gallery/photos/photo_wrapper" %>

<%= link_to "rearrange", seven_gallery.arrange_photos_gallery_path(@gallery) %>

<%= render "seven_gallery/photos/photo", photos: @photos %>
<div class="row">
  <%= will_paginate @photos %>
</div>
